@import colors
@import DDS_breakpoints.sass

body.yearly
  .period-alt
    .separator-monthly
      display : block
      
    .period-yearly
      background-color : $orange
      color : white

    .period-monthly
      color : white
      background-color : #3c3c3c

    .wrapper-monthly
      cursor : pointer

      &:hover
        .period-monthly
          background-color : $orangeDark
          transition : background-color 150ms ease-out

        .separator-monthly
          border-color : transparent $orangeDark $orange transparent
          transition : border-color 150ms ease-out

body.monthly
  .period-alt
    .separator-yearly
      display : block

    .period-monthly
      background-color : $orange
      color : white

    .period-yearly
      color : white
      background-color : #3c3c3c

      &:hover
        background-color : $orangeDark

    .wrapper-yearly
      cursor : pointer
      
      &:hover
        .period-yearly
          background-color : $orangeDark
          transition : background-color 150ms ease-out

        .separator-yearly
          border-color : transparent $orange $orangeDark transparent
          transition : border-color 150ms ease-out

body.monthly
  .if-yearly
    display : none

body.yearly
  .if-monthly
    display : none

body
  .period-alt
    overflow : hidden
    color : #777
    margin-bottom : 60px
    font-size : 16px
    -webkit-font-smoothing : antialiased
    line-height : 22px

    .separator-monthly
      display : none
      width : 0
      height : 0
      border-style : solid
      border-width : 0 20px 42px 0
      border-color : transparent #3c3c3c $orange transparent
      transform : scale(1.0001)

    .separator-yearly
      display : none
      width : 0
      height : 0
      border-style : solid
      border-width : 0 20px 42px 0
      border-color : transparent $orange #3c3c3c transparent
      transform : scale(1.0001)

    .wrapper
      > div
        float : left

    .period-yearly
      span
        position : relative
        left : 5px

    .period-monthly
      span
        position : relative
        left : -5px

    .period-yearly, .period-monthly
      cursor : pointer
      text-align : center

    .period-monthly
      border-top-right-radius : 40px
      border-bottom-right-radius : 40px

    .period-yearly
      border-top-left-radius : 40px
      border-bottom-left-radius : 40px

    > div
      float : left
      cursor : default

    .save
      margin-left : 5px
      color : #999

    .container
      border-radius : 12px
      background-color : #eee
      height : 18px
      width : 30px
      margin : 1px 5px 0 5px
      color : #777
      border : 1px solid #aaa
      box-sizing : border-box
      cursor : pointer

      &:hover
        background-color : #dfdfdf

      transition : background-color 150ms ease

      .inner
        border-radius : 50%
        background-color : $orange
        width : 12px
        height : 12px
        margin : 2px

        transition : transform 200ms ease

.page-pricing
  -webkit-font-smoothing : antialiased

  &.lang-en .plan.pro .price-wrapper .price::before,
  &.lang-en .plan.pro .price-grid .price::before,
  &.lang-en .plan.team .price-wrapper .price::before,
  &.lang-en .plan.team .price-grid .price::before,
  &.lang-fr .plan.pro .price-wrapper .price::after,
  &.lang-fr .plan.pro .price-grid .price::after,
  &.lang-fr .plan.team .price-wrapper .price::after,
  &.lang-fr .plan.team .price-grid .price::after
    content : "€"
    font-size : .8em
    font-weight : normal
    margin-right : 3px
  &.lang-en .plan.pro .price-grid .price::before,
  &.lang-en .plan.team .price-grid .price::before,
  &.lang-fr .plan.pro .price-grid .price::after,
  &.lang-fr .plan.team .price-grid .price::after
    font-size : .8em
    opacity : .85
  &.lang-fr
    .plan.pro, .plan.team
      .price-wrapper .price::after, .price-grid .price::after
        margin-right : 0
        margin-left : 3px

  .plans-wrapper
    width : 1080px
    max-width : 100%
    margin : 0 auto 120px
    box-sizing : border-box
    // overflow : hidden
    padding-top : 20px

    .cell
      position : relative
      top : calc(50% - 173px)

    .precisions
      float : left
      color : #a5a5a5
      font-size : 13px

    .plans-bloc
      width : 100%
      padding : 0 20px

      .sub-wrapper
        display : flex

      .plan
        width : 100%
        box-sizing : border-box
        background-color : #373737
        display : flex
        flex-direction : column
        & + .plan
          margin-left : 30px

        .cta, .cta-border
          width : calc(100% - 40px)
          margin-left : 20px
          box-sizing : border-box
          margin-top : 60px
          margin-bottom : 30px
          text-align : center
          padding : 10px 24px
          margin-top : auto

        .cta-border
          color : white

        .top-bloc
          overflow : hidden
          color : white

          .punch
            margin-left : 20px
            margin-top : 30px
            margin-bottom : 25px

          .top-row
            width : 100%
            padding : 10px 20px
            background-color : #3c3c3c
            box-sizing : border-box
            display : flex
            align-items : center

            .plan-title

            .price-wrapper
              margin-left : auto

              > div
                float : left

              .price-detail
                margin-top : 12px
                font-size : 14px

            .price
              font-size : 20px
              position : relative
              top : 5px

            .price-detail
              font-size : 16px
              color : $orange
              margin-left : 7px
              position : relative
              top : -2px

          .click-to-start
            text-align : center
            font-size : 16px
            font-family : regular

          .price-grid
            width : calc(100% - 40px)
            margin-left : 20px
            margin-top : 20px
            margin-bottom : 20px
            border-collapse : collapse

            tr
              td
                padding : 10px 20px

              td:first-child
                text-align : left

              td:not(:first-child)
                text-align  : right

            tr:first-child
              td
                color : $orange

            tr:nth-child(2n+1)
              background-color : #414141

            tr:nth-child(2n)
              background-color : #474747

            tr:not(:first-child)
              td:not(:first-child)
                span
                  font-weight : 600

        .features
          list-style-position : inside
          list-style : none
          opacity : .8
          margin : 0 20px 50px

          .feature::before
            content : "\2022"
            color : $orange
            display : inline-block
            margin-right : 10px
            position : absolute
            left : 0
            top : 0px

          .feature
            font-family : regular
            position : relative
            padding-left : 20px

            &:not(:last-child)
              margin-bottom : 10px

          .feature:not(:first-child)
            margin-top : 5px

        .button-0
          margin-top : 20px
          margin-bottom : 20px

      .plan.pro
        .features
          .feature.all
            margin-bottom : 26px
            font-family : semibold

            &::before
              display : none

            .picto-all-features
              position : absolute
              font-family : regular
              top : 0
              left : 3px
              span
                color : $orange
                display : block
                margin-right : 10px
                position : absolute
                left : -8px
                top : 0px
                opacity : .3
                text-shadow : 0 0 0 #000000
                & + span
                  left : -4px
                  opacity : .6
                & + span + span
                  left : 0
                  opacity : 1
          .feature.separator
            border-top : 1px dashed white
            position : relative
            text-align : center
            padding : 0
            opacity : .3
            margin-bottom : 0

            &::before
              display : none

            .fas, .far
              position : relative
              background : #373737
              top : -13px
              color : #CCC
              border : 8px solid #373737
              border-top : none
              border-bottom : none
              font-size : .9rem
          
          .feature.separator + li
            margin-top : 4px


      .plan.team
        .price-wrapper
          border : 1px solid #555
          border-radius : 30px
          padding : 2px 10px
          position : relative
          top : 3px
          cursor : pointer
          transition : border 150ms ease-out

          &:hover
            border : 1px solid #aaa

            .triangle
              color : #aaa

          .from
            font-size : 14px
            margin-right : 5px
            position : relative
            top : 5px

          .price
            position : relative
            top : 0

          .price-detail
            margin-top : 7px !important

          .triangle
            font-size : 11px
            margin-top : 7px
            margin-left : 7px
            color : #777

            transition : color 150ms ease-out

        &.down
          .triangle
            transform : rotate(180deg)

        &:not(.down)
          .top-bloc
            .price-grid
              display : none
              
      .plan.enterprise
        width : 100%
        margin : 30px 0 0
        padding-bottom : 30px
        box-shadow : 0 35px 20px 0 rgba(0,0,0,0.1)
        overflow : auto

        .top-bloc
          .top-row
            padding-left : 30px
            .plan-title
          .punch
            margin-left : 30px
        .wrapper
          display : flex
          padding-left : 20px
          padding-right : 20px
          .features
            width : 50%
            .feature
            
        .actions
          padding : 0 20px
          display : flex
          align-items : center
          .text-link
            margin-left : 10px
            opacity : .8

            transition : opacity .2s
            &:hover
              opacity : 1
          .cta-border
            margin : 0
            margin-left : auto
            width : calc((100% - 30px * 3 - 20px * 2) / 3 - 4px)

  .faq
    padding : 50px
    background : #323232
    .faq-title
      text-align : center
      margin-top : 20px
      margin-bottom : 30px
    .questions
      background : #363636
      width : 700px
      padding : 50px
      border-radius : 10px
      max-width : 100%
      margin : 0 auto 60px
      .qa
        .question
          font-family : bold
          font-size : 1.1rem
          opacity : .8
          position : relative
          padding-left : 26px
          
          transition : opacity .2s
          .far
            margin-right : 10px
            font-size : .8em
            opacity : .65
            position : absolute
            left : 0
            top : 5px

            transition : opacity .2s, transform .2s
          &:hover
            cursor : pointer
            opacity : .85
            .far
              opacity : 1
        .answer
          margin-top : 10px
          padding-left : 28px
          opacity : .7
          display : none
          padding-bottom : 10px

          ul
            margin-left : 20px
            margin-top : 5px
            margin-bottom : 5px
            list-style : initial
            margin-bottom : 20px
      
      .qa + .qa
        margin-top : 20px

      .qa.opened
        .question
          .far
            transform : rotate(180deg)
        .answer
          display : block

  @media only screen and (max-width: $tabletBreakpoint)
    .plans-wrapper
      .plans-bloc
        .sub-wrapper
          display : block

          .plan
            width : 350px
            max-width : 95%
            display : block
            margin : 0 auto

          .plan + .plan
            margin-left : auto
            margin-top : 30px

        .plan.enterprise
          width : 350px
          margin : 30px auto 0
          .wrapper
            display : block
            .features
              margin-left : 0
              width : 100%
              margin-bottom : 10px

          .actions
            margin-top : 20px
            display : block

            .text-link
              text-align : center

            .cta-border
              width : 100%
              margin-top : 30px

  @media only screen and (max-width: $phoneBreakpoint)
    .plans-wrapper
      margin : 0 auto 80px
      .plans-bloc
        .sub-wrapper

          .plan
            max-width : 100%
            display : block
            margin : 0 auto

          .plan + .plan
            margin-left : auto
            margin-top : 30px