<!-- PRODONLY
<% @workflow = '{{workflow_id}}' %>
END -->
{{#with (lookup lang.workflows workflow_id)}}
	<html lang="{{../lang.code}}">
		<head>
			{{{includes.gtag_head}}}

			<title>{{this.title}}</title>
			<meta name="description" content="{{this.pageDescription}}" />
			
			<meta name="viewport" content="width=device-width, initial-scale=1">
			
			{{{../includes.css}}}

			<link rel="icon" href="/favicon.png?v=5" />

			<!-- PRODONLY
			<link rel="alternate" href="<%= JSON_CONFIG['host'] %>/fr/<%= @workflow %>" 
				hreflang="x-default" />
			<link rel="alternate" href="<%= JSON_CONFIG['host'] %>/<%= @workflow %>" 
			  hreflang="en-GB" />
			<link rel="alternate" href="<%= JSON_CONFIG['host'] %>/<%= @workflow %>" 
			  hreflang="en-US" />
			<link rel="alternate" href="<%= JSON_CONFIG['host'] %>/fr/<%= @workflow %>" 
				hreflang="fr-FR" />
			<% if @lang.code == 'en' %>
				<link rel="canonical" href="<%= JSON_CONFIG['host'] %>/<%= @workflow %>">
			<% else %>
				<link rel="canonical" href="<%= JSON_CONFIG['host'] %>/fr/<%= @workflow %>">
			<% end %>
			END -->

		</head>
		<body class="has-header workflow {{../workflow_id}}">
			{{{includes.gtag_body}}}

			{{{../includes.header}}}

			<div class="bloc-landing">
				<div class="wrapper">
					<div class="punchline">{{{this.landing.punchline}}}</div>
					<div class="if-not-1080"><div class="illu"></div></div>
					<div class="baseline">{{{this.landing.baseline.one}}}</div>
					<!-- <div class="baseline">{{{this.landing.baseline.two}}}</div> -->
				</div>
				<div class="if-1080"><div class="illu"></div></div>
			</div>

			<div class="ucs">
				{{#each ucs as | uc |}}
					<div class="uc uc-{{@key}}">
						{{#ifEquals @index 0}}
							<div class="top-left-corner"><div class="circle"></div></div>
						{{/ifEquals}}

						<div class="wrapper">
							<div class="if-1080">
								<div class="text-container">
									<div class="visual-artifact"></div>
									<div class="text-wrapper">
										<div class="title">{{uc.title}}</div>
										<div class="text">{{uc.text}}</div>
										<div class="if-1080">
											{{#if uc.template}}
												<a class="text-link" href="{{../lang.hrefRoot}}example/{{uc.template}}">
											{{else}}
												<a class="text-link" href="{{../lang.hrefRoot}}example/{{@key}}">
											{{/if}}
												{{../../lang.workflow.discover-example}} <i class="fas fa-long-arrow-alt-right"></i>
											</a>
										</div>
									</div>
								</div>
								<div class="screenshot-wrapper">
									<div class="screenshot"></div>
								</div>
							</div>
							<div class="if-not-1080">
								<div class="screenshot"></div>
								<div class="text-container">
									<div class="visual-artifact"></div>
									<div class="text-wrapper">
										<div class="title">{{uc.title}}</div>
										<div class="text">{{uc.text}}</div>
										<div class="if-1080">
											{{#if uc.template}}
												<a href="{{../../lang.hrefRoot}}example/{{uc.template}}">
											{{else}}
												<a href="{{../../lang.hrefRoot}}example/{{@key}}">
											{{/if}}
												{{../../lang.workflow.discover-example}} →
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				{{/each}}
			</div>

			<div class="section bloc-features">
				<div class="title">{{{features-bloc-title}}}</div>

				<div class="features">
					{{#each features as | feature |}}
						<div class="feature {{@key}}">
							<div class="illu"></div>
							<div class="label">{{{feature.title}}}</div>
							<div class="detail">{{{feature.text}}}</div>
						</div>
					{{/each}}
				</div>
			</div>

			{{{../includes.get_started_last_bloc}}}
			{{{../includes.footer}}}
		</body>
	</html>
{{/with}}