<html>

<head>
	<title>Customer Stories</title>
	<meta name="description"
		content="For Scrum Masters and Product Owners who build complex Agile artifacts and run remote ceremonies. As a flexible yet structured visual support, Draft can embrace your whole Agile workflow." />

	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{{includes.css}}}

</head>

<body class="ui_customer-stories has-header">

	{{{includes.header}}}

	<section class="ui-header sympany">
		<div class="main-info">
			<div class="wrapper">
				<h1>{{{lang.ui-customer-stories.header.title}}}</h1>
				<p>
					{{{lang.ui-customer-stories.header.intro-text}}}
				</p>
				<ul class="references-logos">
					<li><img src="imgs/UI_Customer-stories/logos/logo_axa.png" alt="logo Axa"></li>
					<li><img src="imgs/UI_Customer-stories/logos/logo_sncf.png" alt="logo eVoyageurs"></li>
					<li><img src="imgs/UI_Customer-stories/logos/logo_sympany.png" alt="logo Sympany"></li>
					<li><img src="imgs/UI_Customer-stories/logos/logo_tui.png" alt="logo TUI"></li>
				</ul>
			</div>
		</div>
	</section>

	<section class="focus-customer-story">
		<div class="wrapper">
			<div class="story-bloc">
				<div class="left-side">
					<div class="picto-deco">
						“
						<!-- <i class="fas fa-quote-right"></i> -->
					</div>
				</div>
				<div class="right-side">
					<blockquote>{{{lang.ui-customer-stories.customer-story-evoyageurs.quote}}}</blockquote>
					<div class="customer-info">
						<img class="logo" src="{{{lang.ui-customer-stories.customer-story-evoyageurs.logo-path}}}" alt="{{{lang.ui-customer-stories.customer-story-evoyageurs.logo-alt-text}}}">
						<img class="portrait" src="{{{lang.ui-customer-stories.customer-story-evoyageurs.portrait-path}}}"
							alt="{{{lang.ui-customer-stories.customer-story-evoyageurs.author}}} photo">
						<p class="customer-details">
							<span class="name">{{{lang.ui-customer-stories.customer-story-evoyageurs.author}}}</span>
							<span class="status">{{{lang.ui-customer-stories.customer-story-evoyageurs.status}}}</span>
						</p>
					</div>

					<a href="{{{lang.hrefCode}}}customer-stories/sncf-transforming-customer-experience-with-user-story-mapping" class="text-link">{{{lang.ui-customer-stories.customer-story-cta}}} <i class="fas fa-long-arrow-alt-right"></i></a>
				</div>
			</div>
			<figure class="illustration">
				<img src="{{{lang.ui-customer-stories.customer-story-evoyageurs.illustration-path}}}" alt="illustration">
			</figure>
		</div>
	</section>

	<section class="customer-stories">
		<ul class="wrapper">
			<li class="story-bloc">
				<div class="top-side">
					<figure class="illustration">
						<img src="{{{lang.ui-customer-stories.customer-story-evoyageurs.illustration-path}}}" alt="Illustration">
					</figure>
				</div>
				
				<div class="bottom-side">
					<blockquote>{{{lang.ui-customer-stories.customer-story-evoyageurs.quote}}}</blockquote>
					<div class="medias">
						<img class="portrait" src="{{{lang.ui-customer-stories.customer-story-evoyageurs.portrait-path}}}"
							alt="{{{lang.ui-customer-stories.customer-story-evoyageurs.author}}} photo">
						<img class="logo" src="{{{lang.ui-customer-stories.customer-story-evoyageurs.logo-path}}}" alt="{{{lang.ui-customer-stories.customer-story-evoyageurs.logo-alt-text}}}">
					</div>
					<p class="customer-details">
						<span class="name">{{{lang.ui-customer-stories.customer-story-evoyageurs.author}}}</span>
						<span class="status">{{{lang.ui-customer-stories.customer-story-evoyageurs.status}}}</span>
					</p>
				</div>

				<a href="{{{lang.hrefCode}}}customer-stories/sncf-transforming-customer-experience-with-user-story-mapping" class="text-link">{{{lang.ui-customer-stories.customer-story-cta}}} <i class="fas fa-long-arrow-alt-right"></i></a>
			</li>
			<li class="story-bloc">
				<div class="top-side">
					<figure class="illustration">
						<img src="{{{lang.ui-customer-stories.customer-story-sympany.illustration-path}}}" alt="Illustration">
					</figure>
				</div>
				
				<div class="bottom-side">
					<blockquote>{{{lang.ui-customer-stories.customer-story-sympany.quote}}}</blockquote>
					<div class="medias">
						<img class="portrait" src="{{{lang.ui-customer-stories.customer-story-sympany.portrait-path}}}"
							alt="{{{lang.ui-customer-stories.customer-story-evoyageurs.author}}} photo">
						<img class="logo" src="{{{lang.ui-customer-stories.customer-story-sympany.logo-path}}}" alt="{{{lang.ui-customer-stories.customer-story-evoyageurs.logo-alt-text}}}">
					</div>
					<p class="customer-details">
						<span class="name">{{{lang.ui-customer-stories.customer-story-sympany.author}}}</span>
						<span class="status">{{{lang.ui-customer-stories.customer-story-sympany.status}}}</span>
					</p>
				</div>

				<a href="{{{lang.hrefCode}}}customer-stories/sncf-transforming-customer-experience-with-user-story-mapping" class="text-link">{{{lang.ui-customer-stories.customer-story-cta}}} <i class="fas fa-long-arrow-alt-right"></i></a>
			</li>
			<li class="story-bloc">
				<div class="top-side">
					<figure class="illustration">
						<img src="{{{lang.ui-customer-stories.customer-story-transilien.illustration-path}}}" alt="Illustration">
					</figure>
				</div>
				
				<div class="bottom-side">
					<blockquote>{{{lang.ui-customer-stories.customer-story-transilien.quote}}}</blockquote>
					<div class="medias">
						<img class="portrait" src="{{{lang.ui-customer-stories.customer-story-transilien.portrait-path}}}"
							alt="{{{lang.ui-customer-stories.customer-story-evoyageurs.author}}} photo">
						<img class="logo" src="{{{lang.ui-customer-stories.customer-story-transilien.logo-path}}}" alt="{{{lang.ui-customer-stories.customer-story-evoyageurs.logo-alt-text}}}">
					</div>
					<p class="customer-details">
						<span class="name">{{{lang.ui-customer-stories.customer-story-transilien.author}}}</span>
						<span class="status">{{{lang.ui-customer-stories.customer-story-transilien.status}}}</span>
					</p>
				</div>
				
				<a href="{{{lang.hrefCode}}}customer-stories/sncf-transforming-customer-experience-with-user-story-mapping" class="text-link">{{{lang.ui-customer-stories.customer-story-cta}}} <i class="fas fa-long-arrow-alt-right"></i></a>
			</li>
		</ul>
	</section>

	<section class="cta-sharing">
		<a class="btn cta round" href="mailto:hi@draft.io?subject={{{lang.ui-customer-stories.sharing-cta.mail-object}}}">
			<i class="fas fa-quote-right"></i>
			{{{lang.ui-customer-stories.sharing-cta.label}}}
		</a>
	</section>


	{{{includes.get_started_last_bloc}}}
	{{{includes.footer}}}

	<script src="https://kit.fontawesome.com/6b4515f4ac.js" crossorigin="anonymous"></script>

	<script>
			(function (i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date(); a = s.createElement(o),
					m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
			})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', "UA-144558715-1", 'auto');
		ga('send', 'pageview');

	</script>

	<script>
		if (
			"IntersectionObserver" in window &&
			"IntersectionObserverEntry" in window &&
			"intersectionRatio" in window.IntersectionObserverEntry.prototype
		) {
			let observer = new IntersectionObserver(entries => {
				if (entries[0].boundingClientRect.y < 0) {
					document.body.classList.add("header-not-at-top");
				} else {
					document.body.classList.remove("header-not-at-top");
				}
			});
			observer.observe(document.querySelector("#top-of-site-pixel-anchor"));
		}
	</script>
</body>

</html>