<html>

<head>
	{{{includes.gtag_head}}}
	<title>{{{lang.ui-customer-story.transilien.meta-title}}}</title>
	<meta name="description" content="{{{lang.ui-customer-story.transilien.meta-description}}}" />

	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{{includes.css}}}

	<!-- PRODONLY
	<link rel="alternate" href="<%= JSON_CONFIG['host'] %>/fr/customer-stories/SNCF-Customizing-Agile-at-scale-frameworks-to-adapt-to-remote-work" 
		hreflang="x-default" />
	<link rel="alternate" href="<%= JSON_CONFIG['host'] %>/customer-stories/SNCF-Customizing-Agile-at-scale-frameworks-to-adapt-to-remote-work" 
	  hreflang="en-GB" />
	<link rel="alternate" href="<%= JSON_CONFIG['host'] %>/customer-stories/SNCF-Customizing-Agile-at-scale-frameworks-to-adapt-to-remote-work" 
	  hreflang="en-US" />
	<link rel="alternate" href="<%= JSON_CONFIG['host'] %>/fr/customer-stories/SNCF-Customizing-Agile-at-scale-frameworks-to-adapt-to-remote-work" 
		hreflang="fr-FR" />
	<% if @lang.code == 'en' %>
		<link rel="canonical" href="<%= JSON_CONFIG['host'] %>/customer-stories/SNCF-Customizing-Agile-at-scale-frameworks-to-adapt-to-remote-work">
	<% else %>
		<link rel="canonical" href="<%= JSON_CONFIG['host'] %>/fr/customer-stories/SNCF-Customizing-Agile-at-scale-frameworks-to-adapt-to-remote-work">
	<% end %>
	END -->
</head>

<body class="ui_customer-story has-header header-customer-stories">
	{{{includes.gtag_body}}}
	{{{includes.header}}}

	<section class="ui-header transilien">
		<div class="main-info">
			<div class="wrapper">
				<img class="logo" src="imgs/MUT_Customers/customer_transilien/Logo_Transilien_SNCF.png" alt="Logo Transilien">
				<h1>{{{lang.ui-customer-story.transilien.header.title}}}</h1>
			</div>
			<ul class="customers">
				<li class="customer">
					<img class="portrait" src="imgs/MUT_Customers/customer_transilien/Pierre_Watier_photo_profil.jpg" alt="Photo portrait de {{{lang.ui-customer-story.transilien.header.contributor1.name}}}">
					<p class="customer-details">
						<a class="name text-link underline-over" href="https://linkedin.com/in/pierrewatier/" target="_blank">{{{lang.ui-customer-story.transilien.header.contributor1.name}}}</a>
						<span class="status">{{{lang.ui-customer-story.transilien.header.contributor1.status}}}</span>
					</p>
				</li>
				<li class="customer">
					<img class="portrait" src="imgs/MUT_Customers/customer_transilien/Maxime_Bonnet_photo_profil.jfif" alt="Photo portrait de {{{lang.ui-customer-story.transilien.header.contributor2.name}}}">
					<p class="customer-details">
						<a class="name text-link underline-over" href="https://linkedin.com/in/maximebonnet/" target="_blank">{{{lang.ui-customer-story.transilien.header.contributor2.name}}}</a>
						<span class="status">{{{lang.ui-customer-story.transilien.header.contributor2.status}}}</span>
					</p>
				</li>
			</ul>
		</div>
	</section>

	<section class="customer-story">

		<div class="wrapper">

			<span class="corner-deco"></span>

			{{{lang.ui-customer-story.transilien.body-content}}}
			
			<footer class="author-info">
				<img class="portrait" src="imgs/UI_Customer-stories/portrait_alexandre_beauchet.jpg" alt="Photo portrait d'Alexandre BEAUCHET">
				<p class="author-details">
					<a class="name text-link underline-over" href="https://www.linkedin.com/in/alexandre-beauchet/" target="_blank">Alexandre BEAUCHET</a>
					<span class="status">COO chez Draft</span>
				</p>
			</footer>
		</div>

	</section>

	{{{includes.get_started_last_bloc}}}
	{{{includes.footer}}}

	<script>
		if (
			"IntersectionObserver" in window &&
			"IntersectionObserverEntry" in window &&
			"intersectionRatio" in window.IntersectionObserverEntry.prototype
		) {
			let observer = new IntersectionObserver(entries => {
				if (entries[0].boundingClientRect.y < 0) {
					document.body.classList.add("header-not-at-top");
				} else {
					document.body.classList.remove("header-not-at-top");
				}
			});
			observer.observe(document.querySelector("#top-of-site-pixel-anchor"));
		}
	</script>
</body>

</html>