<html>

<head>
	<title>{{{lang.ui-enterprise.meta-title}}}</title>
	<meta name="description" content="" />

	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{{includes.css}}}

</head>

<body class="ui_enterprise has-header header-enterprise">

	{{{includes.header}}}

	<section class="bloc-landing">
		<div class="deco-background">
			<img src="./imgs/UI_Enterprise/ui_enterprise_landing_deco_grid_left.png" alt="deco">
			<img src="./imgs/UI_Enterprise/ui_enterprise_landing_deco_grid_right.png" alt="deco">
		</div>
		<h1>{{{lang.ui-enterprise.bloc-landing.title}}}</h1>
		<p class="intro-text">
			{{{lang.ui-enterprise.bloc-landing.punchline}}}
		</p>
		<a href="mailto:hi@draft.io?subject={{{lang.ui-enterprise.bloc-landing.mail-subject}}}" class="cta round light dark-over">
			<i class="fas fa-chevron-right"></i>{{{lang.ui-enterprise.bloc-landing.cta}}}
		</a>
	</section>

	<section class="screenshots-slider s1">
		<div class="wrapper">
			<img class="s1" src="./imgs/MUT_Customers/customer_axa/screenshot_enterprise_Axa.jpg" alt="Capture Draft Axa">
			<img class="s2" src="./imgs/MUT_Customers/customer_airfrance/screenshot_enterprise_Air_France.jpg"
				alt="Capture Draft Air France">
			<img class="s3" src="./imgs/MUT_Customers/customer_altran/screenshot_enterprise_Altran.jpg" alt="Capture Draft Altran">

			<nav>
				<ul class="slider-btns">
					<li><button class="btn bullet active"></button></li>
					<li><button class="btn bullet"></button></li>
					<li><button class="btn bullet"></button></li>
				</ul>
			</nav>
		</div>
		<h3 class="legend">
			<span class="s1">{{{lang.ui-enterprise.screenshots-slider.slide1}}}</span>
			<span class="s2">{{{lang.ui-enterprise.screenshots-slider.slide2}}}</span>
			<span class="s3">{{{lang.ui-enterprise.screenshots-slider.slide3}}}</span>
		</h3>
	</section>

	<section class="companies">
		<h2>{{{lang.ui-enterprise.companies.title}}}</h2>
		<ul>
			<li><img src="./imgs/MUT_Customers/customer_axa/logo_axa.png" alt="Logo Axa"></li>
			<li><img src="./imgs/MUT_Customers/customer_sncf/logo_sncf.png" alt="Logo SNCF"></li>
			<li><img src="./imgs/MUT_Customers/customer_enedis/logo_enedis.png" alt="Logo Enedis"></li>
			<li><img src="./imgs/MUT_Customers/customer_tui/logo_tui.png" alt="Logo TUI"></li>
		</ul>
	</section>

	<section class="ready-to-deploy">
		<h2>{{{lang.ui-enterprise.ready-to-deploy.title}}}</h2>
		<div class="wrapper">
			<ul class="row">
				<li class="feature">
					<h3 class="name"><i class="fas fa-key"></i> {{{lang.ui-enterprise.ready-to-deploy.tile1.title}}}</h3>
					<p class="description">
						{{{lang.ui-enterprise.ready-to-deploy.tile1.description}}}
					</p>
				</li>
				<li class="feature">
					<h3 class="name"><a class="text-link"
						href="https://www.notion.so/How-does-a-Team-work-6766f11d356043dda5092334ec86fef0"><i
							class="fas fa-unlock-alt"></i> {{{lang.ui-enterprise.ready-to-deploy.tile2.title}}} <i
							class="fas fa-long-arrow-alt-right"></i></a></h3>
					<p class="description">
						{{{lang.ui-enterprise.ready-to-deploy.tile2.description}}}
					</p>
				</li>
				<li class="feature">
					<h3 class="name"><i class="fas fa-tasks"></i> {{{lang.ui-enterprise.ready-to-deploy.tile3.title}}}</h3>
					<p class="description">
						{{{lang.ui-enterprise.ready-to-deploy.tile3.description}}}
					</p>
				</li>
			</ul>
			<ul class="row">
				<li class="feature">
					<h3 class="name"><i class="fas fa-server"></i> {{{lang.ui-enterprise.ready-to-deploy.tile4.title}}}</h3>
					<p class="description">
						{{{lang.ui-enterprise.ready-to-deploy.tile4.description}}}
					</p>
				</li>
				<li class="feature">
					<h3 class="name"><a class="text-link"
							href="https://www.notion.so/Introduction-to-the-Jira-integration-9e0f4b934e794b1481a2bdab7315e399"><i
								class="fab fa-jira"></i> {{{lang.ui-enterprise.ready-to-deploy.tile5.title}}} <i
								class="fas fa-long-arrow-alt-right"></i></a></h3>
					<p class="description">
						{{{lang.ui-enterprise.ready-to-deploy.tile5.description}}}
					</p>
				</li>
				<li class="feature">
					<h3 class="name"><i class="fab fa-windows"></i> {{{lang.ui-enterprise.ready-to-deploy.tile6.title}}}</h3>
					<p class="description">
						{{{lang.ui-enterprise.ready-to-deploy.tile6.description}}}
					</p>
				</li>
			</ul>
		</div>
	</section>

	<section class="customer-story">
		<h2>{{{lang.ui-enterprise.customer-story.title}}}</h2>
		<div class="wrapper">
			<div class="story-bloc">
				<div class="left-side">
					<div class="picto-deco">
						“
						<!-- <i class="fas fa-quote-right"></i> -->
					</div>
				</div>
				<div class="right-side">
					<blockquote>{{{lang.ui-enterprise.customer-story.quote}}}</blockquote>
					<div class="customer-info">
						<img class="logo" src="./imgs/MUT_Customers/customer_evoyageurs/logo_evoyageurs.png" alt="Logo SNCF">
						<img class="portrait" src="./imgs/MUT_Customers/customer_evoyageurs/Mohamed_Moussa.jpg"
							alt="Photo Mohamed Moussa">
						<p class="customer-details">
							<span class="name">{{{lang.ui-enterprise.customer-story.author}}}</span>
							<span class="status">{{{lang.ui-enterprise.customer-story.status}}}</span>
						</p>
					</div>
					<a href="{{{lang.hrefCode}}}customer-stories/sncf-transforming-customer-experience-with-user-story-mapping" class="text-link">{{{lang.ui-enterprise.customer-story.cta}}} <i class="fas fa-long-arrow-alt-right"></i></a>
				</div>
			</div>
			<figure class="illustration">
				<img src="./imgs/MUT_Customers/customer_evoyageurs/2_IMG_20200831_121410.jpg" alt="">
			</figure>

			<a href="{{{lang.hrefRoot}}}customer-stories" class="text-link"><img src="./imgs/UI_Enterprise/picto_galery.svg"
					alt="Picto deco user stories listing">{{{lang.ui-enterprise.customer-story.cta2}}}</a>
		</div>
	</section>

	<section class="safety-features">
		<div class="picto-deco"><i class="fas fa-shield-alt"></i></div>
		<h2>{{{lang.ui-enterprise.safety.title}}}</h2>
		<div class="wrapper">
			<ul>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						{{{lang.ui-enterprise.safety.feature1.title}}}
					</button>
					<p class="description">
						{{{lang.ui-enterprise.safety.feature1.description}}}
					</p>
				</li>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						{{{lang.ui-enterprise.safety.feature2.title}}}
					</button>
					<p class="description">
						{{{lang.ui-enterprise.safety.feature2.description}}}
					</p>
				</li>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						{{{lang.ui-enterprise.safety.feature3.title}}}
					</button>
					<p class="description">
						{{{lang.ui-enterprise.safety.feature3.description}}}
					</p>
				</li>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						{{{lang.ui-enterprise.safety.feature4.title}}}
					</button>
					<p class="description">
						{{{lang.ui-enterprise.safety.feature4.description}}}
					</p>
				</li>
			</ul>
			<ul>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						{{{lang.ui-enterprise.safety.feature5.title}}}
					</button>
					<p class="description">
						{{{lang.ui-enterprise.safety.feature5.description}}}
					</p>
				</li>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						{{{lang.ui-enterprise.safety.feature6.title}}}
					</button>
					<p class="description">
						{{{lang.ui-enterprise.safety.feature6.description}}}
					</p>
				</li>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						{{{lang.ui-enterprise.safety.feature7.title}}}
					</button>
					<p class="description">
						{{{lang.ui-enterprise.safety.feature7.description}}}
					</p>
				</li>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						{{{lang.ui-enterprise.safety.feature8.title}}}
					</button>
					<p class="description">
						{{{lang.ui-enterprise.safety.feature8.description}}}
					</p>
				</li>
			</ul>
		</div>

	</section>

	<section class="credibility-labels">
		<div class="wrapper">
			<div class="label-group">
				<img src="./imgs/UI_Enterprise/logo_syntec_numerique.png" alt="Logo Syntec numérique">
				<p class="legend">
					{{{lang.ui-enterprise.partners.partner1}}}
				</p>
			</div>
			<div class="separator"></div>
			<div class="label-group">
				<img src="./imgs/UI_Enterprise/logo_ovh_startup_program.png" alt="Logo OVHCloud Startup Program">
				<p class="legend">
					{{{lang.ui-enterprise.partners.partner2}}}
				</p>
			</div>
		</div>
	</section>

	{{{includes.get_started_last_bloc}}}
	{{{includes.footer}}}

	<script>
			(function (i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date(); a = s.createElement(o),
					m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
			})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', "UA-144558715-1", 'auto');
		ga('send', 'pageview');

	</script>

	<script>
		if (
			"IntersectionObserver" in window &&
			"IntersectionObserverEntry" in window &&
			"intersectionRatio" in window.IntersectionObserverEntry.prototype
		) {
			let observer = new IntersectionObserver(entries => {
				if (entries[0].boundingClientRect.y < 0) {
					document.body.classList.add("header-not-at-top");
				} else {
					document.body.classList.remove("header-not-at-top");
				}
			});
			observer.observe(document.querySelector("#top-of-site-pixel-anchor"));
		}
	</script>

	<script>

		// ==========================
		// SLIDER INTERACTIONS SYSTEM
		// ==========================

		let activeSlideIndex = 1;
		let timerSlider;
		const sliderBntsList = document.querySelector('.slider-btns');

		function launchSlider() {
			clearInterval(timerSlider)
			timerSlider = setInterval(function () {
				activeSlideIndex += 1;
				if (activeSlideIndex > sliderBntsList.children.length) { activeSlideIndex = 1 }
				document.querySelector('.screenshots-slider .btn.bullet.active').classList.remove('active');
				document.querySelector('.screenshots-slider').classList.remove('s1', 's2', 's3');
				document.querySelector('.screenshots-slider').classList.add('s' + activeSlideIndex);
				sliderBntsList.children[activeSlideIndex - 1].children[0].classList.add('active');
			}, 5000)
		}

		launchSlider()

		for (let i = 0, len = sliderBntsList.children.length; i < len; i++) {
			sliderBntsList.children[i].onclick = function () {
				document.querySelector('.screenshots-slider .btn.bullet.active').classList.remove('active');
				document.querySelector('.screenshots-slider').classList.remove('s1', 's2', 's3');
				document.querySelector('.screenshots-slider').classList.add('s' + (i + 1));
				this.children[0].classList.add('active');
				launchSlider();
			}
		}

		// ==========================
		// end of SLIDER INTERACTIONS SYSTEM
		// ==========================

		// ==========================
		// SAFETY BTNS BEHAVIORS
		// ==========================

		let securityBulletPoints = document.querySelectorAll(".safety-features .display-btn");

		for (let i = 0; i < securityBulletPoints.length; i++) {
			securityBulletPoints[i].onclick = function () {
				this.parentNode.classList.toggle('active');
			}
		}

		// ==========================
		// end of SAFETY BTNS BEHAVIORS
		// ==========================

	</script>


</body>

</html>