<html>

<head>
	<title>SNCF - User Story - Draft</title>
	<meta name="description" content="" />

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/common.css.css" rel="stylesheet">
	<link href="css/colors.css.css" rel="stylesheet">
	<link href="css/portal-desktop.css.css" rel="stylesheet">
	<link href="css/portal-mobile.css.css" rel="stylesheet">
	<link href="css/DDS_draft-design-system.css.css" rel="stylesheet">
	<link href="css/ui_enterprise.css.css" rel="stylesheet">
</head>

<body class="ui_enterprise">

	<!-- begin header -->
	<div id="top-of-site-pixel-anchor"></div>

	<div class="header">
		<div class="nav">
			<a class="cta if-1080" href="/fr/get-started">S&#x27;inscrire</a>
			<div class="a-container signin">
				<span>Se connecter</span>
				<a class="if-1080" href="/fr/login">Se connecter</a>
			</div>
			<div class="separator if-1080"></div>
			<div class="a-container">
				<span>Offres</span>
				<a class="pricing" href="/fr/pricing">Offres</a>
			</div>
			<div class="a-container examples if-1080">
				<span>Exemples</span>
				<a href="/fr/examples">Exemples</a>
			</div>
			<div class="a-container customer-stories if-1080">
				<span>Customer stories</span>
				<a href="/fr/customer-stories/sncf-transforming-customer-experience-with-user-story-mapping">Customer
					stories</a>
			</div>
			<div class="a-container customer-stories if-1080">
				<span>Enterprise</span>
				<a href="/fr/enterprise">Enterprise</a>
			</div>
			<div class="workflows">
				<div class="toggle-wrapper">
					<div class="toggle">Workflows</div>
					<div class="dropdown-invite"></div>
				</div>
				<div class="menu">
					<a href="/fr/agile-project-management">Gestion de projet Agile</a>
					<a href="/fr/product-management">Product Management</a>
					<a href="/fr/everyday-creative-work">Travail créatif quotidien</a>
				</div>
			</div>
			<a class="logo" href="/fr/">
				<div class="picto"></div>
			</a>
			<!-- <a class="fav" href="/">d</a> -->
			<!-- <a class="fav-sheet" href="/">d</a> -->
		</div>
	</div>

	<script>
		document.ontouchstart = function (e) {
			e.stopPropagation();
		}
	</script>
	<!-- end header-->

	<section class="bloc-landing">
		<div class="deco-background">
			<img src="./imgs/UI_Enterprise/ui_enterprise_landing_deco_grid_left.png" alt="deco">
			<img src="./imgs/UI_Enterprise/ui_enterprise_landing_deco_grid_right.png" alt="deco">
		</div>
		<h1>Draft for Enterprise</h1>
		<p class="intro-text">The ideal digital collaborative layer for thinking deep collectively,<br>empowering
			decision-making, and tracking progress visually.</p>
		<a class="cta round light dark-over"><i class="fas fa-chevron-right"></i> Contact sales</a>
	</section>

	<section class="screenshots-slider s1">
		<div class="wrapper">
			<img class="s1" src="./imgs/UI_Enterprise/screenshot_enterprise_Axa.jpg" alt="Capture Draft Axa">
			<img class="s2" src="./imgs/UI_Enterprise/screenshot_enterprise_Air_France.jpg"
				alt="Capture Draft Air France">
			<img class="s3" src="./imgs/UI_Enterprise/screenshot_enterprise_Altran.jpg" alt="Capture Draft Altran">

			<nav>
				<ul class="slider-btns">
					<li><button class="btn bullet active"></button></li>
					<li><button class="btn bullet"></button></li>
					<li><button class="btn bullet"></button></li>
				</ul>
			</nav>
		</div>
		<h3 class="legend">
			<span class="s1">Event Modelling by Emmanuel Lehmann, Consultant in Software Craftmanship at Axa</span>
			<span class="s2">PI Planning Portal by Guillaume Decousser, Project Management at Air France</span>
			<span class="s3">Design System by Cyril Bissonnier, Product Owner/UX Design Consultant at Altran</span>
		</h3>
	</section>

	<section class="companies">
		<h2>Trusted by renowned companies</h2>
		<ul>
			<li><img src="./imgs/UI_Enterprise/logo_axa.png" alt="Logo Axa"></li>
			<li><img src="./imgs/UI_Enterprise/logo_sncf.png" alt="Logo SNCF"></li>
			<li><img src="./imgs/UI_Enterprise/logo_enedis.png" alt="Logo Enedis"></li>
			<li><img src="./imgs/UI_Enterprise/logo_tui.png" alt="Logo TUI"></li>
		</ul>
	</section>

	<section class="ready-to-deploy">
		<h2>Ready-to-deploy in your Enterprise</h2>
		<div class="wrapper">
			<ul class="row">
				<li class="feature">
					<h3 class="name"><i class="fas fa-key"></i> SAML 2.0-based SSO</h3>
					<p class="description">
						Draft’s team administration system can connect to any SAML 2.0 identity provider.
					</p>
				</li>
				<li class="feature">
					<h3 class="name"><i class="fas fa-unlock-alt"></i> Fine-grained permission system</h3>
					<p class="description">
						Create shared folders and attribute specific roles depending on how you want to involve team
						members.
					</p>
				</li>
				<li class="feature">
					<h3 class="name"><i class="fas fa-tasks"></i> Client success management</h3>
					<p class="description">
						We can help you onboard large teams and create your first essential drafts. Free training
						sessions on demand.
					</p>
				</li>
			</ul>
			<ul class="row">
				<li class="feature">
					<h3 class="name"><i class="fas fa-server"></i> Dedicated server</h3>
					<p class="description">
						We can host your instance of the app on a dedicated server on demand.
					</p>
				</li>
				<li class="feature">
					<h3 class="name"><a class="text-link"
							href="https://www.notion.so/Introduction-to-the-Jira-integration-9e0f4b934e794b1481a2bdab7315e399"><i
								class="fab fa-jira"></i> Jira integration <i
								class="fas fa-long-arrow-alt-right"></i></a></h3>
					<p class="description">
						Streamline your whole Agile project management workflow by connecting your Jira instance to
						Draft in a few steps.
					</p>
				</li>
				<li class="feature">
					<h3 class="name"><i class="fab fa-windows"></i> Bridges with Azure DevOps</h3>
					<p class="description">
						Import/export system to exchange data smoothly between Draft and Azure DevOps.
					</p>
				</li>
			</ul>
		</div>
	</section>

	<section class="customer-story">
		<h2>Customer Story in the spotlight</h2>
		<div class="wrapper">
			<div class="story-bloc">
				<div class="left-side">
					<div class="picto-deco"></div>
				</div>
				<div class="right-side">
					<blockquote>“Helping people speak the same language”</blockquote>
					<div class="customer-info">
						<img class="logo" src="./imgs/UI_Enterprise/logo_sncf.png" alt="Logo SNCF">
						<img class="portrait" src="./imgs/UI_Enterprise/Mohamed_Moussa_SNCF.jpg"
							alt="Photo portrait xxx xxx">
						<p class="customer-details">
							<span class="name">Mohamed Moussa,</span>
							<span class="status">Scrum Master / Coach Agile<br>at e-Voyageurs SNCF</span>
						</p>
					</div>
					<a href="#" class="text-link">Discover the story <i class="fas fa-long-arrow-alt-right"></i></a>
				</div>
			</div>
			<figure class="illustration">
				<img src="./imgs/UI_Enterprise/customer_story_illustration_sncf.jpg" alt="">
			</figure>
			<a href="#" class="text-link"><img src="./imgs/UI_Enterprise/picto_galery.svg"
					alt="Picto deco user stories listing">Discover more Customer Stories</a>
		</div>
	</section>

	<section class="safety-features">
		<div class="picto-deco"><i class="fas fa-shield-alt"></i></div>
		<h2>We’re focused on keeping your data safe and secure</h2>
		<div class="wrapper">
			<ul>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						ISO 27001, SOC 1, and SOC 2 compliant hosting provider
					</button>
					<p class="description">
						Your data is hosted by OVH, Europe’s largest hosting provider that maintains the highest level
						of security standard and certification.
					</p>
				</li>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						Periodic independent 3rd party penetration tests
					</button>
					<p class="description">
						Audit and follow-up reports can be read on demand.
					</p>
				</li>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						Data encryption in transit and at rest
					</button>
					<p class="description">
						We use HTTPS protocol with TLSv1.2 or higher in transit and AES 256 at rest.
					</p>
				</li>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						Log of every action performed in the system
					</button>
					<p class="description">
						On demand, we can connect the logs to your existing system, so that you can use your own alerts
						and monitoring.
					</p>
				</li>
			</ul>
			<ul>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						IP filtering
					</button>
					<p class="description">
						You can enable sign in by users from specific IPs only to prevent outside access to your data
						while enabling flexible collaboration inside your organization.
					</p>
				</li>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						Domain control
					</button>
					<p class="description">
						You can whitelist email addresses related to specific domains to prevent your team members form.
					</p>
				</li>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						Board sharing controls
					</button>
					<p class="description">
						You can disable users from sharing boards via public links to prevent leaks of sensitive
						information.
					</p>
				</li>
				<li class="feature">
					<button class="display-btn">
						<i class="far fa-caret-square-down"></i>
						Regular backup process
					</button>
					<p class="description">
						Backups are processed daily and stocked for one year in a separate location.
					</p>
				</li>
			</ul>
		</div>

	</section>

	<section class="credibility-labels">
		<div class="wrapper">
			<div class="label-group">
				<img src="./imgs/UI_Enterprise/logo_ovh_startup_program.png" alt="Logo OVHCloud Startup Program">
				<p class="legend">
					Supported by Europe’s largest hosting provider<br>as part of the <a
						class="unsecable text-link underline-over" href="https://startup.ovhcloud.com/en/">OVHcloud
						Startup Program</a>.
				</p>
			</div>
			<div class="separator"></div>
			<div class="label-group">
				<img src="./imgs/UI_Enterprise/logo_syntec_numerique.png" alt="Logo Syntec numérique">
				<p class="legend">
					Member of France’s largest tech professional<br>corporation <a
						class="unsecable text-link underline-over" href="https://syntec-numerique.fr/">Syntec
						Numerique</a>.
				</p>
			</div>
		</div>
	</section>

	<div class="bloc-last">
		<div class="left-visual">
			<div class="rotated-square"></div>
		</div>
		<div class="title">Démarrez dès aujourd’hui</div>
		<form class="signup-bloc" action="/fr/get-started">
			<div class="form-wrapper">
				<input placeHolder="Entrez votre email" name="pre_email"></input>
				<div class="submit-wrapper">
					<div class="triangle"></div>
					<input type="submit" class="register cta" href="/fr/get-started" value="S&#x27;inscrire" />
				</div>
			</div>
			<div class="if-1080">
				<div class="detail">Notre plan gratuit est illimité dans le temps et vous donne accès à toutes les
					fonctionnalités du <a href="pricing">plan Pro</a>.</div>
			</div>
			<div class="if-not-1080">
				<div class="detail">Notre plan gratuit est illimité dans le temps<br />et vous donne accès à toutes les
					fonctionnalités du <a href="pricing">plan Pro</a>.</div>
			</div>
		</form>
		<!-- <a class="cta-border cta-border-darkblue" style="margin-left:40px;" href="/agile_project_management">Discover how Scrum Masters use Draft</a> -->
	</div>
	<div class="footer">
		<div class="footer-wrapper">
			<div class="bloc bloc-plan">
				<div class="title">Produit</div>
				<a href="/fr/">Accueil</a>
				<a href="/fr/agile-project-management">Draft pour la gestion de projet Agile</a>
				<a href="/fr/product-management">Draft pour le Product Management</a>
				<a href="/fr/everyday-creative-work">Draft pour le travail créatif quotidien</a>
				<a href="/fr/examples">Exemples</a>
				<a href="/fr/login">Se connecter</a>
				<a href="/fr/get-started">S&#x27;inscrire</a>
			</div>

			<div class="bloc bloc-resources">
				<div class="title">Client</div>
				<a href="/fr/enterprise">Entreprise</a>
				<a href="/fr/customer-stories">Customer stories</a>
				<a href="/fr/pricing">Offres</a>
			</div>

			<div class="bloc bloc-resources">
				<div class="title">Ressources</div>
				<a href="https://www.notion.so/Draft-s-Help-Center-cc9934be1af04688954d1d077ad004aa"
					target="_blank">Centre d'aide</a>
				<a href="https://draft.io/assets/2020 10 27 Terms and conditions - Draft SAS.pdf"
					target="_blank">Termes</a>
				<a href="https://draft.io/assets/2020 10 27 Privacy Policy - Draft SAS.pdf" target="_blank">Sécurité et
					confidentialité</a>
				<a href="mailto:hi@draft.io">Contactez-nous</a>

				<div class="language-bloc">
					<div class="bloc-title">Langue</div>
					<div class="menu-wrapper">
						<div class="toggle-wrapper">
							<div class="toggle">Français</div>
							<div class="dropdown-invite"></div>
						</div>
						<div class="menu">
							<a
								href="/fr/customer-stories/sncf-transforming-customer-experience-with-user-story-mapping">Français</a>
							<a
								href="/customer-stories/sncf-transforming-customer-experience-with-user-story-mapping">English</a>
						</div>
					</div>
				</div>
			</div>

			<div class="socials">
				<a href="/" class="logo"></a>
				<a href="https://linkedin.com/company/draft-io" class="linkedin" target="_blank"></a>
			</div>
		</div>


		<div class="oblique">
			<div class="rotated-square"></div>
		</div>
	</div>

	<script src="https://kit.fontawesome.com/6b4515f4ac.js" crossorigin="anonymous"></script>

	<script>
			(function (i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date(); a = s.createElement(o),
					m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
			})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

		ga('create', "UA-144558715-1", 'auto');
		ga('send', 'pageview');

	</script>

	<script>
		if (
			"IntersectionObserver" in window &&
			"IntersectionObserverEntry" in window &&
			"intersectionRatio" in window.IntersectionObserverEntry.prototype
		) {
			let observer = new IntersectionObserver(entries => {
				if (entries[0].boundingClientRect.y < 0) {
					document.body.classList.add("header-not-at-top");
				} else {
					document.body.classList.remove("header-not-at-top");
				}
			});
			observer.observe(document.querySelector("#top-of-site-pixel-anchor"));
		}
	</script>

	<script>

		// ==========================
		// SLIDER INTERACTIONS SYSTEM
		// ==========================

		let activeSlideIndex = 1;
		let timerSlider;
		const sliderBntsList = document.querySelector('.slider-btns');

		function launchSlider() {
			clearInterval(timerSlider)
			timerSlider = setInterval(function () {
				activeSlideIndex += 1;
				if (activeSlideIndex > sliderBntsList.children.length) { activeSlideIndex = 1 }
				document.querySelector('.screenshots-slider .btn.bullet.active').classList.remove('active');
				document.querySelector('.screenshots-slider').classList.remove('s1', 's2', 's3');
				document.querySelector('.screenshots-slider').classList.add('s' + activeSlideIndex);
				sliderBntsList.children[activeSlideIndex - 1].children[0].classList.add('active');
			}, 5000)
		}

		launchSlider()

		for (let i = 0, len = sliderBntsList.children.length; i < len; i++) {
			sliderBntsList.children[i].onclick = function () {
				document.querySelector('.screenshots-slider .btn.bullet.active').classList.remove('active');
				document.querySelector('.screenshots-slider').classList.remove('s1', 's2', 's3');
				document.querySelector('.screenshots-slider').classList.add('s' + (i + 1));
				this.children[0].classList.add('active');
				launchSlider();
			}
		}

		// ==========================
		// end of SLIDER INTERACTIONS SYSTEM
		// ==========================

		// ==========================
		// SAFETY BTNS BEHAVIORS
		// ==========================

		let securityBulletPoints = document.querySelectorAll(".safety-features .display-btn");

		for (let i = 0; i < securityBulletPoints.length; i++) {
			securityBulletPoints[i].onclick = function () {
				this.parentNode.classList.toggle('active');
			}
		}

		// ==========================
		// end of SAFETY BTNS BEHAVIORS
		// ==========================

	</script>


</body>

</html>