<!DOCTYPE html>
<html >
  <head profile="http://www.w3.org/2005/10/profile">

    {{{includes.css}}}

    <link rel="icon" href="/favicon.png?v=3" />


    <title>Draft – Sign up</title>
    <meta name="description" content="Sign up & start crafting your ideas as of now." />
    <meta name="viewport" content="width=device-width;user-scalable=no,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="robots" content="noindex,nofollow" />
  </head>

  <body class="page-get-started page-get-started-mobile">

    {{{includes.header}}}
    <script>
    document.ontouchstart = null;
    </script>

    <div class="main-bloc">
      <div class="title">{{lang.cbwc.title}}</div>
      <div class="detail">
        {{{lang.cbwc.body}}}
      </div>
    </div>

    {{{includes.footer}}}

  </body>
</html>