<!DOCTYPE html>
<html >
  <head profile="http://www.w3.org/2005/10/profile">

    {{{includes.css}}}

    <link rel="icon" href="/favicon.png?v=3" />


    <title>{{{lang.onboarding.meta-title}}}</title>
    <meta name="description" content="{{{lang.onboarding.meta-description}}}" />
    <meta name="viewport" content="width=device-width;user-scalable=no,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta name="robots" content="noindex,nofollow" />
  </head>

  <body class="ui-onboarding page-onboarding v3 C">

    <div class="wrapper">
      <a class="logo" href="http://draft.io">
        <img src="./imgs/logo_Draft_picto_white.svg" alt="Logo Draft">
      </a>
      <h2>{{{lang.onboarding.title}}}</h2>
      <p class="sub-title">{{{lang.onboarding.sub-title}}}</p>
      <ul class="workflows-tiles">
        <li class="tile anim-over-4">
          <a href="#">
            <span class="illustration">
              <!-- <img src="./imgs/UI_Onboarding/picto_onboarding_agile_management.svg" alt="Illustration {{{lang.onboarding.wkw-apm}}}"> -->
              {{{includes.svg_picto_agile_management}}}
            </span>
            <span class="title">
              {{{lang.onboarding.wkw-apm}}}
            </span>
          </a>
        </li>
        <li class="tile anim-over-4">
          <a href="#">
            <span class="illustration">
              <!-- <img src="./imgs/UI_Onboarding/picto_onboarding_project_management.svg" alt="Illustration {{{lang.onboarding.wkw-pm}}}"> -->
              {{{includes.svg_picto_product_management}}}
            </span>
            <span class="title">
              {{{lang.onboarding.wkw-pm}}}
            </span>
          </a>
        </li>
        <li class="tile ecw anim-over-4">
          <a href="#">
            <span class="illustration">
              <!-- <img src="./imgs/UI_Onboarding/picto_onboarding_everyday_work.svg" alt="Illustration {{{lang.onboarding.wkw-ecw}}}"> -->
              {{{includes.svg_picto_everyday_work}}}
            </span>
            <span class="title">
              {{{lang.onboarding.wkw-ecw}}}
            </span>
          </a>
        </li>
      </ul>
    </div>

  </body>
</html>