<html lang="<%= @lang.code %>">
	<head>
		<title>
		<!-- TESTONLY -->
		Sommaire
		<!-- ENDTESTONLY -->
		</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="icon" href="/favicon.png?v=5" />

		<meta name="viewport" content="width=device-width, initial-scale=1">
			
		{{{includes.css}}}

	</head>
		
	<body class="ui_sommaire has-header example lang-fr"><!-- lang-code -->
		
		{{{includes.header}}}

		<!-- TESTONLY -->
		
		<div class="wrapper">
			<ul class="sommaire-list">
				<li class="title">EN</li>
				<li><a target="_blank" class="text-link underline-over" href="/test-site/dist/home.en.html">Home</a></li>
				<li>Workflows</li>
				<li class="sub"><a target="_blank" class="text-link underline-over" href="/test-site/dist/agile_project_management.en.html">W > Agile Project Management</a></li>
				<li class="sub"><a target="_blank" class="text-link underline-over" href="/test-site/dist/everyday_knowledge_work.en.html">W > Everyday Creative Work</a></li>
				<li class="sub"><a target="_blank" class="text-link underline-over" href="/test-site/dist/product_management.en.html">W > Product Management</a></li>
				<li><a target="_blank" class="text-link underline-over" href="/test-site/dist/cs_customer_stories.en.html">Customer Stories</a></li>
				<li class="sub"><a target="_blank" class="text-link underline-over" href="/test-site/dist/cs_e_voyageurs.en.html">CS > eVoyageurs</a></li>
				<li class="sub"><a target="_blank" class="text-link underline-over" href="/test-site/dist/cs_sympany.en.html">CS > Sympany</a></li>
				<li class="sub"><a target="_blank" class="text-link underline-over" href="/test-site/dist/cs_transilien.en.html">CS > Transilien</a></li>
				<li><a target="_blank" class="text-link underline-over" href="/test-site/dist/enterprise.en.html">Enterprise</a></li>
				<li><a target="_blank" class="text-link underline-over" href="/test-site/dist/examples.en.html">Examples</a></li>
				<li class="sub"><a target="_blank" class="text-link underline-over" href="/test-site/dist/example.en.html">Example (old v)</a></li>
				<li class="sub"><a target="_blank" class="text-link underline-over" href="/test-site/dist/example_v2.en.html">Example V2</a></li>
				<li class="sub"><a target="_blank" class="text-link underline-over" href="/test-site/dist/example_v3.en.html">Example V3</a></li>
				<li><a target="_blank" class="text-link underline-over" href="/test-site/dist/forgot.en.html">Password reseting</a></li>
				<li><a target="_blank" class="text-link underline-over" href="/test-site/dist/get_started_mobile.en.html">Get Started warning UI (mobile)</a></li>
				<li><a target="_blank" class="text-link underline-over" href="/test-site/dist/pricing.en.html">Pricing</a></li>
			</ul>
			<ul class="sommaire-list">
				<li class="title">FR</li>
				<li><a target="_blank" class="text-link underline-over" href="/test-site/dist/home.fr.html">Accueil</a></li>
				<li>Workflows</li>
				<li class="sub"><a target="_blank" class="text-link underline-over" href="/test-site/dist/agile_project_management.fr.html">W > Agile Project Management</a></li>
				<li class="sub"><a target="_blank" class="text-link underline-over" href="/test-site/dist/everyday_knowledge_work.fr.html">W > Everyday Creative Work</a></li>
				<li class="sub"><a target="_blank" class="text-link underline-over" href="/test-site/dist/product_management.fr.html">W > Product Management</a></li>
				<li><a target="_blank" class="text-link underline-over" href="/test-site/dist/cs_customer_stories.fr.html">Customer Stories</a></li>
				<li class="sub"><a target="_blank" class="text-link underline-over" href="/test-site/dist/cs_e_voyageurs.fr.html">CS > eVoyageurs</a></li>
				<li class="sub"><a target="_blank" class="text-link underline-over" href="/test-site/dist/cs_sympany.fr.html">CS > Sympany</a></li>
				<li class="sub"><a target="_blank" class="text-link underline-over" href="/test-site/dist/cs_transilien.fr.html">CS > Transilien</a></li>
				<li><a target="_blank" class="text-link underline-over" href="/test-site/dist/enterprise.fr.html">Enterprise</a></li>
				<li><a target="_blank" class="text-link underline-over" href="/test-site/dist/examples.fr.html">Examples</a></li>
				<li class="sub"><a target="_blank" class="text-link underline-over" href="/test-site/dist/example.fr.html">Example (old v)</a></li>
				<li class="sub"><a target="_blank" class="text-link underline-over" href="/test-site/dist/example_v2.fr.html">Example V2</a></li>
				<li class="sub"><a target="_blank" class="text-link underline-over" href="/test-site/dist/example_v3.fr.html">Example V3</a></li>
				<li><a target="_blank" class="text-link underline-over" href="/test-site/dist/forgot.fr.html">Password reseting</a></li>
				<li><a target="_blank" class="text-link underline-over" href="/test-site/dist/get_started_mobile.fr.html">Get Started warning UI (mobile)</a></li>
				<li><a target="_blank" class="text-link underline-over" href="/test-site/dist/pricing.fr.html">Pricing</a></li>
			</ul>
		</div>

		<!-- ENDTESTONLY -->


	<script src="https://kit.fontawesome.com/6b4515f4ac.js" crossorigin="anonymous"></script>

	<script>
	if (
	  "IntersectionObserver" in window &&
	  "IntersectionObserverEntry" in window &&
	  "intersectionRatio" in window.IntersectionObserverEntry.prototype
	) {
	let observer = new IntersectionObserver(entries => {
	  if (entries[0].boundingClientRect.y < 0) {
	    document.body.classList.add("header-not-at-top");
	  } else {
	    document.body.classList.remove("header-not-at-top");
	  }
	});
	observer.observe(document.querySelector("#top-of-site-pixel-anchor"));
	}
	</script>
	
	</body>
</html>