
    <div class="app-modal-wrapper create-group">
      <div class="app-modal medium">
        <header>
          <h2>Create group</h2>
          <button class="btn close"><span class="picto-text">+</span></button>
        </header>
        <div class="body">
          <div class="wrapper">
            
            <div class="top-wrapper">
              Group name : <input class="dark-input" type="text" placeholder="Group name">
            </div>
            <div class="bottom-wrapper panels-wrapper">

                
                <div class="panel-wrapper group-members-panel">
                  <header>
                    <h2>GROUP MEMBERS</h2>
                  </header>

                  <div class="sub-wrapper tab">
                    <ul class="table">
                      
                      <li class="row">
                        <div class="col email" title="admin@ar.com">admin@ar.com</div>
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Retirer ce membre du groupe">
                            <span>-</span>
                          </button>
                        </div>
                      </li>
                      <li class="row">
                        <div class="col email" title="user143@ar.com">user143@ar.com</div>
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Retirer ce membre du groupe">
                            <span>-</span>
                          </button>
                        </div>
                      </li>
                      <li class="row">
                        <div class="col email" title="user143@ar.com">user143@ar.com</div>
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Retirer ce membre du groupe">
                            <span>-</span>
                          </button>
                        </div>
                      </li>
                      <li class="row">
                        <div class="col email" title="admin@ar.com">admin@ar.com</div>
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Retirer ce membre du groupe">
                            <span>-</span>
                          </button>
                        </div>
                      </li>
                      <li class="row">
                        <div class="col email" title="user143@ar.com">user143@ar.com</div>
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Retirer ce membre du groupe">
                            <span>-</span>
                          </button>
                        </div>
                      </li>
                      <li class="row">
                        <div class="col email" title="admin@ar.com">admin@ar.com</div>
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Retirer ce membre du groupe">
                            <span>-</span>
                          </button>
                        </div>
                      </li>
                      <li class="row">
                        <div class="col email" title="user143@ar.com">user143@ar.com</div>
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Retirer ce membre du groupe">
                            <span>-</span>
                          </button>
                        </div>
                      </li>
                      <li class="row">
                        <div class="col email" title="admin@ar.com">admin@ar.com</div>
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Retirer ce membre du groupe">
                            <span>-</span>
                          </button>
                        </div>
                      </li>
                      <li class="row">
                        <div class="col email" title="user143@ar.com">user143@ar.com</div>
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Retirer ce membre du groupe">
                            <span>-</span>
                          </button>
                        </div>
                      </li>

                    </ul>
                  </div>
                </div>
                <div class="panel-wrapper users-panel">
                  <header>
                    <h2>USERS - Not in group</h2>
                    <div class="filter-bar">
                      Filtre : <input class="dark-input" type="text" placeholder="User email">
                    </div>
                  </header>
                  
                  <div class="sub-wrapper tab">
                    <ul class="table">
                      
                      <li class="row">
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Ajouter ce membre au groupe"><span>+</span></button>
                        </div>
                        <div class="col email" title="admin-2@ar.com">admin-2@ar.com</div>
                      </li>
                      <li class="row">
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Ajouter ce membre au groupe"><span>+</span></button>
                        </div>
                        <div class="col email" title="albert-jean2002@ar.com">albert-jean2002@ar.com</div>
                      </li>
                      <li class="row">
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Ajouter ce membre au groupe"><span>+</span></button>
                        </div>
                        <div class="col email" title="admin-2@ar.com">admin-2@ar.com</div>
                      </li>
                      <li class="row">
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Ajouter ce membre au groupe"><span>+</span></button>
                        </div>
                        <div class="col email" title="admin-2@ar.com">admin-2@ar.com</div>
                      </li>
                      <li class="row">
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Ajouter ce membre au groupe"><span>+</span></button>
                        </div>
                        <div class="col email" title="admin-2@ar.com">admin-2@ar.com</div>
                      </li>
                      <li class="row">
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Ajouter ce membre au groupe"><span>+</span></button>
                        </div>
                        <div class="col email" title="admin-2@ar.com">admin-2@ar.com</div>
                      </li>
                      <li class="row">
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Ajouter ce membre au groupe"><span>+</span></button>
                        </div>
                        <div class="col email" title="admin-2@ar.com">admin-2@ar.com</div>
                      </li>
                      <li class="row">
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Ajouter ce membre au groupe"><span>+</span></button>
                        </div>
                        <div class="col email" title="admin-2@ar.com">admin-2@ar.com</div>
                      </li>

                    </ul>
                  </div>

              </div>

            </div>


          </div>
        </div>
        <footer>
          <button type="button" class="btn cancel">Cancel</button>
          <button type="button" class="btn submit">Invite</button>
        </footer>
      </div>
    </div>