
    <div class="app-modal-wrapper invite-members">
      <div class="app-modal medium">
        <header>
          <h2>Invite members</h2>
          <button class="btn close"><span class="picto-text">+</span></button>
        </header>
        <div class="body">
          <div class="wrapper">
            
            <div class="top-wrapper">
              <p>Fill addresses below to invite people to your team. Then select all the groups of whom the new members belong.</p>
              <p class="textarea-info">
                To invite multiple members at once, separe addresses with ; or linebreaks.
              </p>
              <textarea class="dark-textarea" placeholder="Email addresses"></textarea>
            </div>
            <div class="bottom-wrapper panels-wrapper">

                
                <div class="groups-panel panel-wrapper groups-in">
                  <header>
                    <h2>GROUPS - In</h2>
                  </header>
                  
                  <div class="sub-wrapper tab">
                    <ul class="table">
                      
                      <li class="row">
                        <div class="col name" title="Global">Global</div>
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Retirer ce groupe d'appartenance">
                            <span>-</span>
                          </button>
                        </div>
                      </li>
                      <li class="row">
                        <div class="col name" title="Groupe test 1">Groupe test 1</div>
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Retirer ce groupe d'appartenance">
                            <span>-</span>
                          </button>
                        </div>
                      </li>
                      <li class="row">
                        <div class="col name" title="Workshop Omega">Workshop Omega</div>
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Retirer ce groupe d'appartenance">
                            <span>-</span>
                          </button>
                        </div>
                      </li>
                      <li class="row">
                        <div class="col name" title="Global">Global</div>
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Retirer ce groupe d'appartenance">
                            <span>-</span>
                          </button>
                        </div>
                      </li>
                      <li class="row">
                        <div class="col name" title="Groupe test 1">Groupe test 1</div>
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Retirer ce groupe d'appartenance">
                            <span>-</span>
                          </button>
                        </div>
                      </li>
                      <li class="row">
                        <div class="col name" title="Workshop Omega">Workshop Omega</div>
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Retirer ce groupe d'appartenance">
                            <span>-</span>
                          </button>
                        </div>
                      </li>
                      <li class="row">
                        <div class="col name" title="Global">Global</div>
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Retirer ce groupe d'appartenance">
                            <span>-</span>
                          </button>
                        </div>
                      </li>
                      <li class="row">
                        <div class="col name" title="Groupe test 1">Groupe test 1</div>
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Retirer ce groupe d'appartenance">
                            <span>-</span>
                          </button>
                        </div>
                      </li>
                      <li class="row">
                        <div class="col name" title="Workshop Omega">Workshop Omega</div>
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Retirer ce groupe d'appartenance">
                            <span>-</span>
                          </button>
                        </div>
                      </li>
                      <li class="row">
                        <div class="col name" title="Global">Global</div>
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Retirer ce groupe d'appartenance">
                            <span>-</span>
                          </button>
                        </div>
                      </li>
                      <li class="row">
                        <div class="col name" title="Groupe test 1">Groupe test 1</div>
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Retirer ce groupe d'appartenance">
                            <span>-</span>
                          </button>
                        </div>
                      </li>
                      <li class="row">
                        <div class="col name" title="Workshop Omega">Workshop Omega</div>
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Retirer ce groupe d'appartenance">
                            <span>-</span>
                          </button>
                        </div>
                      </li>

                    </ul>
                  </div>
                </div>
                <div class="groups-panel panel-wrapper groups-not-in">
                  <header>
                    <h2>GROUPS - Not in</h2>
                  </header>
                  
                  <div class="sub-wrapper tab">
                    <ul class="table">
                      
                      <li class="row">
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Ajouter ce groupe d'appartenance"><span>+</span></button>
                        </div>
                        <div class="col name" title="Admin board">Admin board</div>
                      </li>
                      <li class="row">
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Ajouter ce groupe d'appartenance"><span>+</span></button>
                        </div>
                        <div class="col name" title="Test group 34">Test group 34</div>
                      </li>
                      <li class="row">
                        <div class="col actions">
                          <button class="btn dark outlined action" title="Ajouter ce groupe d'appartenance"><span>+</span></button>
                        </div>
                        <div class="col name" title="Workshop Beta">Workshop Beta</div>
                      </li>

                    </ul>
                  </div>

              </div>

            </div>


          </div>
        </div>
        <footer>
          <button type="button" class="btn cancel">Cancel</button>
          <button type="button" class="btn submit">Invite</button>
        </footer>
      </div>
    </div>