
    <div class="app-modal-wrapper invite-visitors">
      <div class="app-modal medium">
        <header>
          <h2>Invite visitors</h2>
          <button class="btn close"><span class="picto-text">+</span></button>
        </header>
        <div class="body">
          <div class="wrapper">
            
            <div class="top-wrapper">
              <p>Fill addresses in the input below to invite people to your team as visitors.</p>
              <p class="textarea-info">
                To invite multiple visitors at once, separe addresses with ; or linebreaks.
              </p>
              <textarea class="dark-textarea" placeholder="Email addresses"></textarea>
            </div>
          </div>
        </div>
        <footer>
          <button type="button" class="btn cancel">Cancel</button>
          <button type="button" class="btn submit">Invite</button>
        </footer>
      </div>
    </div>