<div class="footer">
	<div class="footer-wrapper">
		<div class="bloc bloc-plan">
			<div class="title">{{{lang.footer.product}}}</div>
			<a href="{{{lang.hrefCode}}}/">{{{lang.footer.home}}}</a>
			<a href="{{{lang.hrefCode}}}/agile-project-management">{{{lang.footer.agile}}}</a>
			<a href="{{{lang.hrefCode}}}/product-management">{{{lang.footer.pm}}}</a>
			<a href="{{{lang.hrefCode}}}/everyday-creative-work">{{{lang.footer.everyday}}}</a>
			<a href="{{{lang.hrefCode}}}/examples">{{{lang.footer.examples}}}</a>
			<a href="{{{lang.hrefCode}}}/login">{{{lang.footer.login}}}</a>
			<a href="{{{lang.hrefCode}}}/get-started">{{{lang.footer.register}}}</a>
		</div>

		<div class="bloc bloc-resources">
			<div class="title">{{{lang.footer.customer}}}</div>
			<a href="{{{lang.hrefCode}}}/enterprise">{{{lang.footer.enterprise}}}</a>
			<a href="{{{lang.hrefCode}}}/customer-stories">{{{lang.footer.customer_stories}}}</a>
			<a href="{{{lang.hrefCode}}}/pricing">{{{lang.footer.pricing}}}</a>
		</div>

		<div class="bloc bloc-resources">
			<div class="title">{{{lang.footer.resources}}}</div>
			<a href="https://www.notion.so/Draft-s-Help-Center-cc9934be1af04688954d1d077ad004aa"
				target="_blank">{{{lang.footer.help_center}}}</a>
			<a href="https://draft.io/assets/2020 10 27 Terms and conditions - Draft SAS.pdf"
				target="_blank">{{{lang.footer.terms}}}</a>
			<a href="https://draft.io/assets/2020 10 27 Privacy Policy - Draft SAS.pdf" target="_blank">{{{lang.footer.privacy}}}</a>
			<a href="mailto:hi@draft.io">{{{lang.footer.contact}}}</a>

			<div class="language-bloc">
				<div class="bloc-title">{{{lang.footer.language}}}</div>
				<div class="menu-wrapper">
					<div class="toggle-wrapper">
						<div class="toggle">{{{lang.verbose}}}</div>
						<div class="dropdown-invite"></div>
					</div>
					<div class="menu">
						<a
							href="<%= @fr_url %>">Français</a>
						<a
							href="<%= @en_url %>">English</a>
					</div>
				</div>
			</div>
		</div>

		<div class="socials">
			<a href="/" class="logo"></a>
			<a href="https://linkedin.com/company/draft-io" class="linkedin" target="_blank"></a>
		</div>
	</div>


	<div class="oblique">
		<div class="rotated-square"></div>
	</div>
</div>

<script src="https://kit.fontawesome.com/6b4515f4ac.js" crossorigin="anonymous"></script>