<form class="signup-bloc" action="{{{lang.hrefRoot}}}get-started">
	<div class="form-wrapper">
		<input placeHolder="{{{lang.register.ph}}}" name="pre_email"></input>
		<button class="submit-wrapper" type="submit" class="register cta" value="{{{lang.register.cta}}}">
			<div class="triangle"></div>
			<!-- <span class="picto anim-1"><img src="imgs/UI_Landing/hot-air-balloon2.svg" alt="picto hot air balloon"></span> -->
			{{{lang.register.cta}}}
		</button>
	</div>
	<div class="if-1080">
		<div class="detail">{{{lang.register.detail.if_1080}}}</div>
	</div>
	<div class="if-not-1080">
		<div class="detail">{{{lang.register.detail.if_not_1080}}}</div>
	</div>
</form>