<div id="top-of-site-pixel-anchor"></div>

	<div class="header">
		<div class="nav">
			<a class="cta if-1080" href="/fr/get-started">S&#x27;inscrire</a>
			<div class="a-container signin">
				<span>{{{test}}}</span>
				<a class="if-1080" href="/fr/login">Se connecter</a>
			</div>
			<div class="separator if-1080"></div>
			<div class="a-container">
				<span>Offres</span>
				<a class="pricing" href="/fr/pricing">Offres</a>
			</div>
			<div class="a-container examples if-1080">
				<span>Exemples</span>
				<a href="/fr/examples">Exemples</a>
			</div>
			<div class="a-container customer-stories if-1080">
				<span>Customer stories</span>
				<a href="/fr/customer-stories/sncf-transforming-customer-experience-with-user-story-mapping">Customer
					stories</a>
			</div>
			<div class="workflows">
				<div class="toggle-wrapper">
					<div class="toggle">Workflows</div>
					<div class="dropdown-invite"></div>
				</div>
				<div class="menu">
					<a href="/fr/agile-project-management">Gestion de projet Agile</a>
					<a href="/fr/product-management">Product Management</a>
					<a href="/fr/everyday-creative-work">Travail créatif quotidien</a>
				</div>
			</div>
			<a class="logo" href="/fr/">
				<div class="picto"></div>
			</a>
			<!-- <a class="fav" href="/">d</a> -->
			<!-- <a class="fav-sheet" href="/">d</a> -->
		</div>
	</div>

	<script>
		document.ontouchstart = function (e) {
			e.stopPropagation();
		}
	</script>