            <tr>

              <!--[if mso]>
              <table width="100%">
                <tr> 
                  <td height="20">&nbsp;</td>
                </tr>
              </table>
              <![endif]-->

              <table width="100%">
               <tr> 
                  <td height="15"></td>
                </tr>
                <tr>
                  <td align="center">
                    <a href="https://twitter.com/draft_io?lang=en"><img temporary src="https://draft.io/assets/logo_round_gray_Twitter.png" width="60" alt="Logo Twitter" title="Suivez-nous sur Twitter" style="height:auto;border:none;text-decoration:none;"></a>
                    <a href="https://www.linkedin.com/company/draft-io"><img temporary src="https://draft.io/assets/logo_round_gray_LinkedIn.png" width="60" alt="Logo LinkedIn" title="Connectons-nous sur LinkedIn" style="height:auto;border:none;text-decoration:none;"></a>
                    <a href="https://join.slack.com/t/draftio/shared_invite/zt-p3ujpwtg-ju5JecE0G6TOQ0q2JR5DIw"><img temporary src="https://draft.io/assets/logo_round_gray_Slack.png" width="60" alt="Logo Slack" title="Profitez de notre support dédié sur Slack" style="height:auto;border:none;text-decoration:none;"></a>
                  </td>
                </tr>
                <tr> 
                  <td height="0"></td> 
                </tr> 
              </table>

            </tr>
            <tr>
              <td style="padding:0 30px 30px;text-align:center;font-size:12px;color:#aaaaaa;">
                
                <p style="margin:0;font-size:12px;line-height:16px;">&reg; 
                  DRAFT, Simplified joint stock company with a capital of €1,350
                  <br>848 959 268 R.C.S. Nantes – VAT number: FR 32 848 959 268
                  <br>3, l'Ouche Brûlée street, 44118 La Chevrolière, FRANCE
                  <br>
                  <!-- <a class="unsub" href="http://www.example.com/" style="color:#cccccc;text-decoration:underline;">Unsubscribe instantly</a></p> -->
                </p>

              </td>
            </tr>
          </table>
          <!--[if mso]>
          </td>
          </tr>
          </table>
          <![endif]-->
        </td>
      </tr>
    </table>
  </td>
</tr>
</table>
</body>
</html>